


#logo{
    width:120px;

}

.appHeaderWrapper{
    display: flex;
    flex-direction: row;
}

#profilePic{
    width: 100px;

}

.profilePicFriendsPage{
    width: 100px
}

#profilePicOnPage{
    width: 200px;
}

#otherUsersImg{
    width: 50%
}
